<a href="/feed">Back to Feed</a>

<h1 id="child-name">
{{theChild.name}}
</h1>


<h4 id="child-dob">
Date of Birth {{theChild.dob}}
</h4>


<img src="{{theChild.image}}" alt="">



<div class="post-container">

    <h1>Posts</h1>

    {{#each listOfPosts}}
    <div class="post-section">

      <div class="post-card">

        <h2 id="post-title">
          {{this.title}}
        </h2>
        <div class="post-container">

          {{#each listOfPosts}}

          <div class="post-card">

            <h2 id="post-title">
              {{this.title}}
            </h2>

            <h4 id="post-date">
              {{this.creation}}
            </h4>

            <h4 id="post-date">
              {{this.creation}}
            </h4>

            <p id="post-description">
              {{this.description}}
            </p>

            <img id="post-image" src="{{this.image}}">

            <p id="post-child">
              {{this.child}}
            </p>

          </div>
          {{/each}}

        </div>


        <p id="post-description">
          {{this.description}}
        </p>

        <img id="post-image" src="{{this.image}}">

        <p id="post-child">
          {{this.child}}
        </p>

      </div>
      {{/each}}
    </div>
  </div>
