{{!-- NAV --}}
<!-- Dropdown -->
<ul id="dropdown1" class="dropdown-content">
  {{#if currentUser}}
  <li><a href="/feed/user-details">Edit Profile</a></li>
  <li><a href="/feed/logout">Logout</a>
    {{!-- <form action="/logout" method="POST">
    <a>Logout</a></form> --}}
    {{/if}}
  </li>
</ul>

<!-- TOP NAV ================================== -->
<nav>
  <div class="nav-wrapper">
    <a href="/feed" class="brand-logo">
      <img src="/images/logo.png" alt="keepsake logo" class="logo">
      Keepsake</a>

    <ul class="right hide-on-med-and-down">
      <li class="welcome">
        {{#if currentUser}}
        Welcome back, {{currentUser.username}}
        {{/if}}
      </li>
      <li>
        <div class="search-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons magnify-icon" placeholder="search artwork">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </li>
      {{!-- <li>
        <a href="#"><i class="material-icons left">add</i>Add Artwork</a>
      </li> --}}
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!-- SIDE NAV ================================== -->
<div class="sidenav">
  <ul class="toggle-avatars">
    <li>
      <a href="#child-1">
        <img class="circle avatar" src="images/headshot-girl-square.jpg">
      </a>
    </li>
    <li>
      <a href="#child-21">
        <img class="circle avatar" src="images/headshot-girl-square.jpg">
      </a>
    <li>
    <li>
      <a href="#child-3">
        <img class="circle avatar" src="images/headshot-girl-square.jpg">
      </a>
    <li>
    <li>
      <div class="sidebar-add-child-button">
        <a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
      </div>
    </li>
  </ul>
</div>


<!-- MAIN CONTENT ================================== -->
<div class="container">
  <h2>Children</h2>

  <div class="row  children-row">

    {{#each listOfChildren}}
    {{#if this.owned}}
    <div class="col s12 m2">

      <a href="/feed/{{this._id}}">
        <div class="card">
          <div class="card-image">
            <img src="{{this.image}}">
            <span class="card-title">
              {{this.name}}
            </span>
          </div>
        </div>
      </a>

    </div>
    {{/if}}
    {{/each}}

    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="images/add-child.jpg">
          <span class="card-title">Add New Child</span>
          <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>

    <!-- CREATE CHILD MODAL -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Add Child</h4>
        <div class="row">

          <form class="col s12" action="/feed/create-child" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Ex: Johnny" id="first_name" type="text" class="validate" name="theName">
                <label for="first_name">Child's Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="birthdate">Child's Birthdate</label>
                <input type="text" class="datepicker" class="validate" name="theDateOfBirth">
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field col s12">
                <div class="btn waves-effect">
                  <span>File</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload an image of your child">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col s12 push">
                <button class="btn waves-effect waves-light btn-large modal-close" type="submit" name="action">Add Child
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div> <!-- END CHILD MODAL -->

  </div> <!-- end child row -->


  <div>

    <!-- MOVE THIS TO THE CHILD FEED VIEW -->
    <!-- should we call this "add artwork" instead? -->
    {{!-- <h2>Create Post</h2>
    <form action="" id="create-post">
      <div>
        <label>Select Child</label>
        <select name="children" id="postChildId" multiple>
          {{#each listOfChildren}}
          {{#if this.owned}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/if}}
          {{/each}}
        </select>
      </div>

      <div>
        <label>Title</label>
        <input type="text" id="postTitle">
      </div>
      <div>
        <label>Date Created</label>
        <input type="date" id="postDate">
      </div>
      <div>
        <label>Description</label>
        <input type="text" id="postDescription">
      </div>
      <div>
        <label>Add Image</label>
        <input type="file" id="postImage">
      </div>
      <input type="submit">
    </form>
  </div>  --}}
    <!-- END CREATE POST -->



    <div class="post-container">

      <h1>Posts</h1>

      {{#each listOfPosts}}
      <div class="post-section">

        <div class="post-card">

          <h2 id="post-title">
            {{this.title}}
          </h2>
          <div class="post-container">

            {{#each listOfPosts}}

            <div class="post-card">

              <h2 id="post-title">
                {{this.title}}
              </h2>

              <h4 id="post-date">
                {{this.creation}}
              </h4>

              <h4 id="post-date">
                {{this.creation}}
              </h4>

              <p id="post-description">
                {{this.description}}
              </p>

              <img id="post-image" src="{{this.image}}">

              <p id="post-child">
                {{this.child}}
              </p>

            </div>
            {{/each}}

          </div>


          <p id="post-description">
            {{this.description}}
          </p>

          <img id="post-image" src="{{this.image}}">

          <p id="post-child">
            {{this.child}}
          </p>

        </div>
        {{/each}}
      </div>
      <footer>
        <div class="right">
          ©2019 all rights reserved. A project by Dusty Garon & Nelly Gonzalez-Vinas.
        </div>
      </footer>
    </div>



    <script src="/javascripts/new-post.js"></script>