<h1>Home Feed</h1>

<p> Amazing!!! </p>

<h2>Children</h2>
<a href="/feed/new-child">Add New Child</a>

{{#each listOfChildren}}


<div class="card">


<a href="/feed/details/{{this._id}}">

<h3>
{{this.name}}
</h3>

</a>


{{#if this.owned}}

<a href="/feed/edit/{{this._id}}">Edit This Child</a>
<form style="width: 33%" action="/feed/{{this._id}}/remove" method="POST">
    <button>Delete Child</button>
</form>

{{else}}


{{/if}}



</div>
{{/each}}


</div>