<h1>Home Feed</h1>

<p> Amazing!!! </p>

<h2>Children</h2>

{{#each listOfChildren}}

  {{#if this.owned}}

  <div class="card">
    <a href="/feed/{{this._id}}">
    <h3>{{this.name}}
    </h3>

    <a href="/feed/details/{{this._id}}">
      <p>Edit details for {{this.name}}
      </p>
    </a>
  </div>

  {{else}}
  {{/if}}
  
{{/each}}



<a href="/feed/new-child">Add New Child</a>


<div>

{{!-- CREATE POST --}}
<h2>Create Post</h2>

<form action="" id="create-post">

    <div>
        <label>Select Child</label>
        <select name="children" id="postChildId" multiple>
          {{#each listOfChildren}}
            {{#if this.owned}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/if}}
          {{/each}}
        </select>
    </div>

    <div>
      <label>Title</label>
        <input type="text" id="postTitle">
    </div>

    <div>
      <label>Date Created</label>
      <input type="date" id="postDate">
    </div>

    <div>
      <label>Description</label>
      <input type="text" id="postDescription">
    </div>

    <div>
      <label>Add Image</label>
      <input type="file" id="postImage">
    </div>

    <input type="submit">

</form>

</div>



<div class="post-section">

  <h1>Posts</h1>

  <div class="post-container">

    {{#each listOfPosts}}
    
    <div class="post-card">
    
      <h2 id="post-title">
      {{this.title}}
      </h2>


      <h4 id="post-date">
      {{this.creation}}
      </h4>


      <p id="post-description">
      {{this.description}}
      </p>

      <img id="post-image" src="{{this.image}}">

      <p id="post-child">
      {{this.child}}
      </p>
      
    </div>
    {{/each}}
 </div>
</div>


<script src="/javascripts/new-post.js"></script>