<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

{{#if currentUser}}
<a href="/feed">Go to Feed</a>
 {{else}}
<a href="/">Back to Home</a>
{{/if}}

 {{#if errorMessage}}
    <div style="border: 1px solid red">
        {{errorMessage}}
    </div>
    {{/if}}
    {{#if successMessage}}
      <div style="border: 1px solid green">
      {{successMessage}}
      </div>
    {{/if}}


{{#if currentUser}}

    <h3>Hello, {{currentUser.username}}</h3>

    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
{{/if}}


  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>